<div class="card">
  <div
    class="card-header text-white bg-primary mx-2"
    [ngClass]="wasClicked ? 'mt-1' : 'my-1'"

  >
    <div class="row">
      <div class="col" (click)="wasClicked = !wasClicked">
        {{ userName }}
      </div>
    </div>
  </div>
  <div class="card-body text-white bg-secondary mx-2 mb-1" *ngIf="wasClicked">
    <div class="row">
      <div class="col">
        <p>Phone: {{ user.phoneNumber }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Status: {{ user.status }}</p>
        <button class="btn btn-danger" type="button" (click)="deleteUser()" *ngIf="isAdmin">Delete User</button>
      </div>
    </div>
  </div>
</div>
